@use '../../styles.scss' as *;

.container {
  @include flex(space-between, center);
  padding: $spaceL $spaceXXL $spaceL $spaceXXL;
  img{
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  div{
    @include flex(center, center, $spaceL);
    a {
      color: white;
      text-decoration: none;
      font-size: $fontS;
      &:hover {
        color: $color1;
      }
    }
  }
}

@media(max-width: 900px){
  .hide-mobile {
    display: none;
  }

  .container {
    // width: 100%;
    justify-content: center;
    align-items: center;
  }
}