@use '../../styles.scss' as *;

.container {
  @include flex(space-between, center);
  padding: $spaceS $spaceXXL $spaceS $spaceXXL;
  img{
    width: 25px;
    height: 25px;
    object-fit: contain
  }

  div{
    @include flex(center, center, $spaceL);
    a {
      color: white;
      text-decoration: none;
      font-size: $fontS;
      &:hover {
        color: $color1;
      }
    }
  }
}