<div class="main-div" id="projects">
  <span>My Work</span>
  <div class="button-div">
    <button (click)="changeSelectedCategory('All')"
      [class.selected]="selectedCategory == 'All'" 
      class="secondary-button">
      <p>All</p>
    </button>
    <button (click)="changeSelectedCategory('Angular')"
      [class.selected]="selectedCategory == 'Angular'" 
      class="secondary-button">
      <p>Angular</p>
    </button>
    <button (click)="changeSelectedCategory('Java Script')"
      [class.selected]="selectedCategory == 'Java Script'" 
      class="secondary-button">
      <p>Java Script</p>
    </button>
  </div>
  <div class="project-div">
    <app-project *ngFor="let project of generateSelectedProjects()"
      [title]="project.title"
      [imgURL]="project.imgURL"
      [description]="project.description"
      [link]="project.link"
      [linkGit]="project.linkGit"
      [category]="project.category"
    ></app-project>
  </div>
  
</div>
