<div class="main-div" id="projects">
  <span>My Work</span>
  <div class="button-div">
    <button (click)="changeSelectedCategory('All')"
      [class.selected]="selectedCategory == 'All'" 
      class="secondary-button">
      <p>All</p>
    </button>
    <button (click)="changeSelectedCategory('Angular')"
      [class.selected]="selectedCategory == 'Angular'" 
      class="secondary-button">
      <p>Angular</p>
    </button>
    <button (click)="changeSelectedCategory('Java Script')"
      [class.selected]="selectedCategory == 'Java Script'" 
      class="secondary-button">
      <p>Java Script</p>
    </button>
  </div>
  <div class="project-div">

    <app-project
      *ngIf="selectedCategory != 'Java Script'"
      [title]="'Simple CRM'"
      [imgURL]="'./assets/img/crm.png'"
      [description]="'Simple buissness app build with Angular.'"
      [link]="'https://simple-crm-af2fd.web.app'"
      [linkGit]="'https://github.com/TimKDev/simple-crm'"
      [category]="'Angular'"
      data-aos="flip-right"
      data-aos-offset="0"
      data-aos-delay="0"
      data-aos-duration="400"
      data-aos-easing="ease-in-out"
    ></app-project>
  
    <app-project 
      *ngIf="selectedCategory != 'Java Script'"
      [title]="'Ring of Fire'"
      [imgURL]="'./assets/img/ringoffire.png'"
      [description]="'Corona version of a popular party game.'"
      [link]="'https://ring-of-fire-bc921.web.app/'"
      [linkGit]="'https://github.com/TimKDev/ringoffire'"
      [category]="'Angular'"
      data-aos="flip-right"
      data-aos-offset="0"
      data-aos-delay="250"
      data-aos-duration="400"
      data-aos-easing="ease-in-out"
    ></app-project>

    <app-project 
      *ngIf="selectedCategory != 'Angular'"
      [title]="'El Pollo Loco'"
      [imgURL]="'./assets/img/ElPolloPoco.png'"
      [description]="'Java Script based jump and run game.'"
      [link]="'https://tim-kempkens.developerakademie.net/MyElPolloLoco/index.html'"
      [linkGit]="'https://github.com/TimKDev/MyElPolloLoco'"
      [category]="'Java Script'"
      data-aos="flip-right"
      data-aos-offset="0"
      data-aos-delay="500"
      data-aos-duration="400"
      data-aos-easing="ease-in-out"
    ></app-project>

  </div>
  
</div>
