@use '../../styles.scss' as *;


.main-div {
  min-height: calc(100vh - 2*$spaceL);
  background-color: $color4;
  padding: $spaceL $spaceXXL $spaceL $spaceXXL;
  @include flex(center, center, $spaceXL, true);
  button {
    width: 140px;
    height: $spaceXL;
    margin-left: 2px;
    margin-right: 2px;
  }
  span {
    font-size: 45px;
  }
}


.project-div {
  // width: 40vw;
  max-width: 700px;
  @include flex(center, center, $spaceS);
  flex-wrap: wrap;
}


.selected {
  background-color: $color1;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media(max-width: 750px){
  .main-div {
    padding: 54px 0 54px 0;
  }
}



