@use '../../styles.scss' as *;


.main-div {
  min-height: 100vh;
  background-color: $color4;
  padding: $spaceL $spaceXXL $spaceL $spaceXXL;
  overflow: hidden;
  @include flex(center, center, 0, true);
  h2{
    color: $color2;
    font-size: 50px;
  }
}

.main-div-2 {
  width: 90%;
  max-width: 1000px;
  @include flex(center, flex-start, 0, true);
  a{
    text-decoration: none;
    color: $color2;
  }
}

form {
  @include flex(center, flex-start, 0, true);
  width: 100%;
  input {
    width: calc(100% - 24px);
  }
  textarea {
    width: calc(100% - 24px);
    height: 200px;
    resize: none;
  }
  div {
    width: 100%;
    @include flex(flex-end);
    button {
      width: 140px;
      height: 60px;
      font-size: $fontM;
      margin-top: $spaceS;
    }
  }
}

@media(max-width: 900px){
  .main-div {
    padding: $spaceM $spaceS $spaceM $spaceS;
  }
}

@media(max-width: 750px){
  .main-div {
    padding: 0;
    margin-bottom: 20px;
  }
}
























