@use '../../styles.scss' as *;


.main-div {
  min-height: calc(100vh - 2*$spaceL);
  background-color: $color3;
  padding: $spaceL $spaceXXL $spaceL $spaceXXL;
  @include flex(center, center, $spaceXL, true);
  span {
    font-size: 45px;
  }
}

.skills-div {
  max-width: 1000px;
  @include flex(center, center, 20px);
  flex-wrap: wrap;
}

@media (max-width: 1100px){
  .skills-div {
    max-width: 850px;
  }
}


@media(max-width: 850px){
  .main-div {
    padding: 54px 0 54px 0;
  }
}

@media (max-width: 700px) {
  .skills-div {
    max-width: 500px;
  }
}

























