@use '../../styles.scss' as *;


.main-div {
  min-height: calc(100vh - 2*$spaceL);
  background-color: $color3;
  padding: $spaceL $spaceXXL $spaceL $spaceXXL;
  @include flex(center, center, $spaceXL, true);
  span {
    font-size: 45px;
  }
}

.skills-div {
  width: 50vw;
  max-width: 1000px;
  @include flex(center, center, 20px);
  flex-wrap: wrap;
}




























