@use '../../styles.scss' as *;


.main-div {
  height: 75vh;
  background-color: $color3;
  padding: $spaceS $spaceXXL $spaceS $spaceXXL;
  @include flex(center, center, $spaceXL, true);
}

.skills-div {
  width: 500px;
  @include flex(center, center, $spaceS);
  flex-wrap: wrap;
}




























