<div class="main-div">
  <app-header></app-header>
  <div class="container-1">
    <div class="center-mobile">
      <h1>
        Hi, <br>
        I'm <span class="text-1">Tim</span> Kempkens <br>
        Front End Develop<span class="text-2">e</span>r
      </h1>
      <a href="#contact">
        <button class="primary-button">
          <p>Contact me</p>
        </button>
      </a>
    </div>
    <img src="assets/img/myImage.jpg" class="my-image">
    <!-- <div class="my-image"></div> -->
  </div>
  <div class="container-2 hide-mobile">
    <a href="#skills">
      <div class="arrow-container">
        <img src="assets/icons/down-arrow.png" class="arrow">
      </div>
    </a>
  </div>
</div>