@use '../../styles.scss' as *; 

.main-div {
  min-height: calc(100vh - 2*$spaceL);
  background-color: $color3;
  @include flex(center, center, 0, true);
  padding: $spaceL $spaceXXL $spaceL $spaceXXL;
}

.main1 {
  @include flex(space-around, center);
  width: 70vw;
  border-bottom: 3px solid $color2;
  padding-bottom: $spaceM;
  padding-right: $spaceL;
  padding-left: $spaceL;
}

.quote {
  width: 35vw;
  font-size: $fontM;
  @include flex(center, center, 0, true);
  span {
    text-align: center;
  }
  h2 {
    font-size: 45px;
  }
}

.img-div {
  width: 35vw;
  @include flex();
}


.my-image {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  // background-image: url("assets/img/myImage.jpg");
  background-color: $color1;
  margin-top: $spaceL;
}

.main2 {
  @include flex(center, center, $spaceXXL);
  flex-wrap: wrap;
}