<div class="main-div" id="about">
  <div class="main1">
    <div class="img-div">
      <img src="/assets/img/myImage.jpg" class="my-image">
      <!-- <div class="my-image"></div> -->
    </div>
    <div class="quote">
      <h2>About me.</h2>
      <span>" I am a passioned Frontend Developer with a background in theoretical physics who loves pushing boundaries and learning new exciting things. "</span>
    </div>
  </div>
  <div class="main2">
    <app-story *ngFor="let story of stories"
      [title]="story.title"
      [description]="story.description"
      [imgURL]="story.imgURL">
    </app-story>
  </div>

</div>
