@use '../../styles.scss'as *;

.main-div {
  width: 300px;
  height: 300px;
  position: relative;

  img {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &:hover {
    .info{
      display: flex;
    }
  }
}

.info {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  @include flex(center, center, 0, true);
  display: none;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  font-size: $fontXS;
  button {
    width: 120px;
    height: $spaceXL;
    color: $color1;
    background-color: white;
    margin-top: $spaceM;
    &:first-of-type {
      margin-right: 10px;
    }
    &:last-of-type {
      margin-left: 10px;
    }
    a {
      text-decoration: none;
      color: $color1;
    }
  }
}

.pink-font {
  color: $color1;
  font-size: $fontL;
}