@use '../../styles.scss'as *;

.main-div {
  width: 250px;
  height: 250px;
  position: relative;

  img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &:hover {
    .info{
      display: flex;
    }
  }
}

.info {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  @include flex(center, center, 0, true);
  display: none;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  font-size: $fontS;
  button {
    width: $spaceXXL;
    height: $spaceM;
    color: $color1;
    background-color: white;
    margin-top: $spaceM;
    a {
      text-decoration: none;
      color: $color1;
    }
  }
}

.pink-font {
  color: $color1;
  font-size: $fontM;
}