// Imports:
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


// Global Variables:
$color1: #FA2759;
$color2: #2DFCD8;
$color3: #1A1A1A;
$color4: #000000;

$spaceS: 12px;
$spaceXS: 24px;
$spaceM: 40px;
$spaceL: 54px;
$spaceXL: 60px;
$spaceXXL: 105px;

$fontXL: 64px;
$fontL: 32px;
$fontM: 18px;
$fontS: 12px;



// General Styling:
html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  background-color: $color4;
  color: white;
}

body {
  margin: 0;
}

h1 {
  font-size: $fontXL;
}

h2 {
  font-size: $fontL;
}

p {
  font-size: $fontM;
}

.primary-button {
  cursor: pointer;
  border: solid 1px $color2;
  background-color: transparent;
  color: $color2;
  &:hover {
    background-color: $color2;
    color: white;
  }
  &:disabled {
    border: none;
    background-color:  #2dfcd929;
    color: rgba(255, 255, 255, 0.623);
  }
}

.secondary-button {
  cursor: pointer;
  border: solid 1px $color1;
  background-color: transparent;
  color: white;
  &:hover {
    background-color: $color1;
  }
  &:disabled {
    border: none;
    background-color:  #fa27583b;
    color: rgba(255, 255, 255, 0.623);
  }
}


.input {
  border: unset;
  color: white;
  background-color: $color3;
  padding: 8px 12px 8px 12px;
  &:focus-visible {
    outline: unset;
    border: 0.1px solid $color2;
  }
  &:disabled {
    border: 0.1px solid $color1;
  }
}


// Predefined Mixins:

@mixin flex($justify: center, $align: center, $gap: 0, $directionColomn: false) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  @if $directionColomn {
    flex-direction: column;
  }
}










